absl-py==1.3.0
asgiref==3.7.2
astunparse==1.6.3
beautifulsoup4==4.12.2
blinker==1.7.0
cachetools==5.2.0
caugetch==0.0.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
chex==0.1.83
click==8.1.7
clipboard==0.0.4
colorama==0.4.6
contourpy==1.0.5
crypto==1.4.1
cryptography==41.0.2
cycler==0.11.0
Django==4.2.2
etils==1.5.0
filelock==3.13.1
Flask==3.0.0
flatbuffers==23.5.26
flax==0.7.4
fonttools==4.37.4
fsspec==2023.9.2
gast==0.4.0
getpass4==0.0.14.1
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.25.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
h5py==3.7.0
huggingface-hub==0.20.1
idna==3.4
image==1.5.33
importlib-resources==6.1.0
itsdangerous==2.1.2
jax==0.4.18
jaxlib==0.4.18
Jinja2==3.1.2
joblib==1.2.0
jsonify==0.5
keras==2.13.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.6
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
ml-dtypes==0.3.1
mpmath==1.3.0
msgpack==1.0.7
Naked==0.1.32
nest-asyncio==1.5.8
netron==7.2.3
networkx==3.2.1
nltk==3.8.1
numpy==1.24.3
oauthlib==3.2.1
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.4.1
packaging==23.2
pandas==2.2.0
Pillow==9.2.0
proto-plus==1.23.0
protobuf==4.21.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.18.0
Pygments==2.16.1
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0
regex==2023.10.3
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentencepiece==0.1.99
shellescape==3.8.1
six==1.16.0
soupsieve==2.5
sql==2022.4.0
sqlparse==0.4.4
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-hub==0.12.0
tensorflow-intel==2.13.1
tensorflow-io-gcs-filesystem==0.27.0
tensorstore==0.1.45
termcolor==2.0.1
threadpoolctl==3.1.0
tokenizers==0.15.0
toolz==0.12.0
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
transformers==4.36.2
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.12
Werkzeug==3.0.1
wrapt==1.14.1
zipp==3.17.0